@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

$darkPurple: #2D1E2F;
$darkerPurple: #1d141f;
$honeyYellow: #F7B32B;
$darkerYellow: #ce8b07;

body{
    margin: 0;
    padding: 0;
    background: $darkPurple;
    color: $honeyYellow;
    font-family: 'Montserrat', sans-serif;
    #App{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 50%;
            position: relative;
            #inputWrap{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                #inputTempoBox{
                    text-align: center;
                    width: 65%;
                    border: none;
                    background: transparent;
                    color: $honeyYellow;
                    font-size: 300px;
                    font-family: 'Montserrat', sans-serif;
                    &:focus{   
                        outline: none;
                    };
                }
                &::after{
                    content: 'BPM';
                    position: absolute;
                    font-size: 350px;
                    z-index: -1;
                    color: $darkerPurple;
                }
            }
        }

        #right{
            background: $honeyYellow;
            height: 100vh;
            width: 50%;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            #header{
                color: $darkerYellow;
                font-size: 60px;
                user-select: none;
            }
            #weirdSlider{
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 30%;
                background: $darkerPurple;
            }
        }
    }
}

@media (max-width: 1024px){
    body{
        #App{
            flex-direction: column;
            #left{
                width: 100%;
                height: 30%;
                #inputWrap{
                    #inputTempoBox{
                        font-size: 100px;
                    }
                    &::after{
                        font-size: 120px;
                    }
                }
            }
            #right{
                border: solid red;
                width: 100%;
                height: 70%;
                #header{
                    font-size: 30px;
                }
            }
        }
    }
}