@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');

$darkPurple: #2D1E2F;
$darkerPurple: #1d141f;
$honeyYellow: #F7B32B;

body{
    margin: 0;
    padding: 0;
    background: $darkPurple;
    color: $honeyYellow;
    font-family: 'Montserrat', sans-serif;
    #App{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;

        #left{
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            width: 50%;
            position: relative;
            #inputTempoBox{
                text-align: center;
                width: 65%;
                border: none;
                background: transparent;
                color: $honeyYellow;
                font-size: 300px;
                font-family: 'Montserrat', sans-serif;
                &:focus{   
                    outline: none;
                };
            }
        }

        #right{
            background: $honeyYellow;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            width: 50%;
            input[type="range"]{
                width: 40%;
                #shadow-root{
                    #thumb{background: red;}
                    
                }
                &::-webkit-slider-runnable-track{
                    background: $darkPurple;
                    height: 25vh;
                }
            }
        }
    }
}